@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap');
ion-content {
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
    border-color: var(--ion-color-medium-shade);
    border-style: solid;
    border-width: 0px 1px 1px 1px;
}

#navbar {
    border-width: 1px;
    border-color: var(--ion-color-medium-shade);
    border-style: solid;
    height: 76px;
}

#navbar-icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 50px;
}

#navbar-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    color: var(--ion-color-dark-tint);
}

#menu-icon {
    vertical-align: middle;
    font-size: 35px;
    color: var(--ion-color-dark-tint);
    position: absolute;
    left: 0;
}

#square {
    margin: 15px;
    background-color: var(--ion-color-danger-contrast);
    box-shadow: 0 0 1px var(--ion-color-danger-shade);
    padding-bottom: 30px;
}

ion-slide {
    height: auto !important;
    height: 100%;
    box-shadow: 0 0 10px var(--ion-color-danger-shade);
}

ion-slides {
    height: auto !important;
}

.performance-card {
    margin: 0;
    box-shadow: 0 0 1px var(--ion-color-danger-shade);
    border-width: 0px;
    border-color: var(--ion-color-light-tint);
    border-style: solid;
    max-height: 250px !important;
    background-color: var(--ion-color-tertiary-tint);
    border-radius: 0;
    width: 300px;
}

.essay-card {
    margin: 0;
    box-shadow: 0 0 1px var(--ion-color-warning-tint);
    border-width: 0px;
    border-color: var(--ion-color-medium-shade);
    border-style: solid;
    max-height: 250px !important;
    background-color: var(--ion-color-warning-tint);
    border-radius: 0;
    min-width: 250px;
    width: 300px;
    float: left;
}

.perfomance-icon {
    vertical-align: middle;
    font-size: 2.5em;
    margin-top: 20px;
}

.essay-icon {
    vertical-align: middle;
    font-size: 3em;
    margin-top: 15px;
}

.event-type-text {
    vertical-align: bottom;
    display: inline-block;
    color: #464040;
    font-size: 30px;
    margin-left: 15px;
    margin-top: 25px;
    font-family: 'Outfit', sans-serif;
}

#essays-row {
    margin-top: 20px;
}

#date-text {
    text-align: right;
}

#separation-in-card {
    background-color: var( --ion-background-color);
}

#separation-title {
    background-color: var(--ion-color-success-contrast);
}